<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Log">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_user_name" jdbcType="VARCHAR" property="logUserName" />
    <result column="log_ip" jdbcType="VARCHAR" property="logIp" />
    <result column="log_cost_time" jdbcType="INTEGER" property="logCostTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.LogWithBLOBs">
    <result column="log_ua" jdbcType="LONGVARCHAR" property="logUa" />
    <result column="log_url" jdbcType="LONGVARCHAR" property="logUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, log_user_name, log_ip, log_cost_time, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List">
    log_ua, log_url
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.LogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oa_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.LogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from oa_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from oa_log
    where id = #{id,jdbcType=INTEGER}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from oa_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pojo.LogWithBLOBs" useGeneratedKeys="true">
    insert into oa_log (log_user_name, log_ip, log_cost_time, 
      gmt_create, gmt_modified, log_ua, 
      log_url)
    values (#{logUserName,jdbcType=VARCHAR}, #{logIp,jdbcType=VARCHAR}, #{logCostTime,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{logUa,jdbcType=LONGVARCHAR}, 
      #{logUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.pojo.LogWithBLOBs" useGeneratedKeys="true">
    insert into oa_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logUserName != null">
        log_user_name,
      </if>
      <if test="logIp != null">
        log_ip,
      </if>
      <if test="logCostTime != null">
        log_cost_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="logUa != null">
        log_ua,
      </if>
      <if test="logUrl != null">
        log_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logUserName != null">
        #{logUserName,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logCostTime != null">
        #{logCostTime,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="logUa != null">
        #{logUa,jdbcType=LONGVARCHAR},
      </if>
      <if test="logUrl != null">
        #{logUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.LogWithBLOBs">
    update oa_log
    <set>
      <if test="logUserName != null">
        log_user_name = #{logUserName,jdbcType=VARCHAR},
      </if>
      <if test="logIp != null">
        log_ip = #{logIp,jdbcType=VARCHAR},
      </if>
      <if test="logCostTime != null">
        log_cost_time = #{logCostTime,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="logUa != null">
        log_ua = #{logUa,jdbcType=LONGVARCHAR},
      </if>
      <if test="logUrl != null">
        log_url = #{logUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.LogWithBLOBs">
    update oa_log
    set log_user_name = #{logUserName,jdbcType=VARCHAR},
      log_ip = #{logIp,jdbcType=VARCHAR},
      log_cost_time = #{logCostTime,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      log_ua = #{logUa,jdbcType=LONGVARCHAR},
      log_url = #{logUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Log">
    update oa_log
    set log_user_name = #{logUserName,jdbcType=VARCHAR},
      log_ip = #{logIp,jdbcType=VARCHAR},
      log_cost_time = #{logCostTime,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>